.forms {

text-align: center;

}

.label {

display: block;
font-size: x-large;
margin-bottom: 10px;
margin-top: 10px;


}

.caixaTexto {

border-radius: 8px;
width: 400px;
height: 60px;
font-size: 20px;
text-align: center;

}

.submissionButton {

border-radius: 8px;
margin-top: 40px;
width: 200px;
height: 50px;
font-size: large;

}