.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContainer {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modalContent {
    margin-bottom: 20px;
  }
  
  .modalActions {
    text-align: right;
  }
  
  .closeButton {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .saveButton, .cancelButton {
    padding: 5px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .saveButton {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .cancelButton {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .errorMessage {
    color: red; /* Cor da fonte para a mensagem de erro */
    background-color: #ffcccc; /* Fundo leve para destacar a mensagem */
    border: 1px solid red; /* Borda para chamar mais atenção */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaço acima da mensagem de erro */
    border-radius: 5px; /* Bordas arredondadas */
    display: block; /* Certifique-se de que é um bloco para ocupar a própria linha */
    text-align: center; /* Centralize o texto da mensagem de erro */
  }
  