.div {
  display: flex;
  margin-top: 10px;
  padding-top: 15px;
  justify-content: flex-end;
  align-items: center;
}

.div1 {
  padding-right: 30%;
  margin-left: auto;
}

.div2 {
  padding-right: 30%;
  margin-left: auto;
  text-align: left;
}

.divWrapWrap {
  padding-left: 15px;
  align-self: right;
}

.input-text {
  vertical-align: middle;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-right: 0;
  padding-top: 10px;
  align-self: left;
}

.div2-span {
  padding-top: 10px;
}

.input {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: 10px solid rgb(112, 65, 0);
  border-radius: 10px;
  color: rgb(70, 55, 31);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  width: 500px;
}

.input:focus {
  border: 12px solid rgb(112, 35, 0);
  outline: 0px;
}

.altered {
  border: 10px solid rgb(235, 27, 27);
}

.altered:focus {
  border: 12px solid rgb(235, 27, 27);
  outline: 0px;
}
